.bell {
    position: absolute; 
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid cadetblue;
    color: cadetblue;
    text-align: center;
    line-height: 80px;
    transition: .3s;
    cursor: pointer;
}

.bell i {
    animation: rotate .5s linear infinite alternate;
    transform-origin: 50% 0;
    transition: .3s;
}

.bell:hover{
    background-color: cadetblue;
}

.bell:hover i{
    color: white;
    animation-duration: .2s;
    /* animation-play-state: paused; */
    /* animation: none; */
}

@keyframes rotate{
    0%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(-25deg);
    }
}